<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <!--<system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="C:\tmp\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>-->

  <!--<log4net debug="true">-->
  <log4net>
    
    <appender name="Console" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />
      </layout>
    </appender>

    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:\CSIS\E-SuranceUIWeb\logs\E-SuranceWeb.log" />
      <appendToFile value="true" />
      <maximumFileSize value="20000KB" />
      <maxSizeRollBackups value="50" />

      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}]  - %message%newline" />
        <conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />
        -->
        <conversionPattern value="%date [%thread] %-5level class name: %logger method name: [%method] %HostName %property{log4net:HostName} %property{NDC} %message%newline " />

      </layout>
    </appender>

    <appender name="QoSRollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:\CSIS\E-SuranceUIWeb\logs\E-SuranceWeb_Qos.log" />
      <appendToFile value="true" />
      <maximumFileSize value="1000KB" />
      <maxSizeRollBackups value="5" />

      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}]  - %message%newline" />
        <conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />
        -->
        <conversionPattern value="%date [%thread] %-5level class name: %logger method name: [%method] %HostName %property{log4net:HostName} %property{NDC} %message%newline " />

      </layout>
    </appender>

    <appender name="ProcesoMasivoBackgroundSRollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:\CSIS\E-SuranceUIWeb\logs\E-ProcesoMasivoBackground.log" />
      <appendToFile value="true" />
      <maximumFileSize value="1000KB" />
      <maxSizeRollBackups value="5" />

      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}]  - %message%newline" />
        <conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />
        -->
        <conversionPattern value="%date [%thread] %-5level %HostName %property{log4net:HostName} %property{NDC} %message%newline" />

      </layout>
    </appender>

    <appender name="RollingFileUserName" type="log4net.Appender.RollingFileAppender">
      <file value="c:\OficinaVirtualREST.log" />
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="2" />

      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}]  - %message%newline" />
        <conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />
        -->
        <conversionPattern value="%date [%thread] %-5level class name: %logger method name: [%method] %HostName %property{log4net:HostName} %property{NDC} %username%newline %message%newline " />

      </layout>
    </appender>
    
    <appender name="PrintAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\CSIS\E-SuranceUIWeb\logs\MasivePrinting.log" />
      <appendToFile value="true" />
      <maximumFileSize value="1000KB" />
      <maxSizeRollBackups value="5" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date: %message%newline " />
      </layout>
    </appender>
    
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="C:\CSIS\E-SuranceUIWeb\logs\E-LogNovedades.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="LogRenovacionAppender" type="log4net.Appender.AdoNetAppender">
      <usetransactions value="false"/>
      <bufferSize value="1" />      
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <!--Produccion-->
      <!--<connectionString value="Data Source=bdcsis.intracoomeva.com.co,65147\cdpsql01;Initial Catalog=Csis;User=csis_web;Password=cs1s*ut1.6;" />-->
      <!--Aceptacion-->
      <!--<connectionString value="Data Source=bdprcdpsql08.intracoomeva.com.co,49324\PRCDPSQL08;Initial Catalog=Csis_Pru2;User=Csis;Password=azsx*963;" />-->
      <!--Desarrollo-->
      <!--<connectionString value="Data Source=bdprcdpsql08.intracoomeva.com.co,49324\PRCDPSQL08;Initial Catalog=Csis;User=Csis;Password=azsx*963;" />-->
      <!--Migracion-->
      <connectionString value="Data Source=10.11.40.164\CORREDOR;Initial Catalog=csis_20170922;User=sa;Password=Corredor2016;" />
      
      <commandText value="INSERT INTO Csis_Log_Renovacion ([Numero_Referencia],
    [CONS_Proceso],[CONS_Proceso_Especifico],[Mensaje],[Fecha_Creacion],[Usuario_Proceso]) 
    VALUES 
    (@numero_referencia, @cons_proceso, @cons_proceso_especifico, @mensaje, @fecha_creacion, @usuario_proceso)" />
      <parameter>
        <parameterName value="@numero_referencia" />
        <dbType value="String" />
        <size value="4000" ></size>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{NumeroReferencia}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@cons_proceso" />
        <dbType value="Double" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ConsProceso}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@cons_proceso_especifico" />
        <dbType value="Double" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ConsProcesoEspecifico}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@mensaje" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@fecha_creacion" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@usuario_proceso" />
        <dbType value="String" />
        <size value="200" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{UsuarioProceso}" />
        </layout>
      </parameter>
    </appender>
    
    <appender name="LogProcesoMasivoAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="100" />
      <connectionType value="System.Data.SqlClient.SqlConnection, 
   System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <!--Produccion-->
      <!--<connectionString value="Data Source=bdcsis.intracoomeva.com.co,65147\cdpsql01;Initial Catalog=Csis;User=csis_web;Password=cs1s*ut1.6;" />-->
      <!--Aceptacion-->
      <!--<connectionString value="Data Source=bdprcdpsql08.intracoomeva.com.co,49324\PRCDPSQL08;Initial Catalog=Csis_Pru2;User=Csis;Password=azsx*963;" />-->
      <!--Desarrollo-->
      <!--<connectionString value="Data Source=bdprcdpsql08.intracoomeva.com.co,49324\PRCDPSQL08;Initial Catalog=Csis;User=Csis;Password=azsx*963;" />-->
      <!--Migracion-->
      <connectionString value="Data Source=10.11.40.164\CORREDOR;Initial Catalog=csis_20170922;User=sa;Password=Corredor2016;" />
      
      <commandText value="INSERT INTO csis_p_prmasivo_cargue_error ([cons_masivo_cabecera],
    [cons_tipo_error],[tablacargue],[cons_registro_error],[descripcionerror],[estado],[usuario_creacion],[usuario_modificacion],[fecha_creacion],[fecha_modificacion]) 
    VALUES 
    (@cons_masivo_cabecera, @cons_tipo_error, @tablacargue, @cons_registro_error, @descripcionerror, @estado,@usuario_creacion,@usuario_modificacion,@fecha_creacion,@fecha_modificacion)" />
      <useTransactions value="false" />
      <bufferSize value="1" />
      <parameter>
        <parameterName value="@cons_masivo_cabecera" />
        <dbType value="Double" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{consmasivo}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@cons_tipo_error" />
        <dbType value="Double" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ConsTipoError}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@tablacargue" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{tablacargue}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@cons_registro_error" />
        <dbType value="Double" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ConsRegistro}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@descripcionerror" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@estado" />
        <dbType value="Double" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{estado}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@usuario_creacion" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{usuariocreacion}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@usuario_modificacion" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{usuariomodificacion}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@fecha_creacion" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@fecha_modificacion" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
    </appender>
    <appender name="Reconexion_Appender" type="log4net.Appender.AdoNetAppender">
      <useTransactions value = "false"/>
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <!--Produccion-->
      <!--<connectionString value="Data Source=bdcsis.intracoomeva.com.co,65147\cdpsql01;Initial Catalog=Csis;User=csis_web;Password=cs1s*ut1.6;" />-->
      <!--Aceptacion-->
      <!--<connectionString value="Data Source=bdprcdpsql08.intracoomeva.com.co,49324\PRCDPSQL08;Initial Catalog=Csis_Pru2;User=Csis;Password=azsx*963;" />-->
      <!--Desarrollo-->
      <!--<connectionString value="Data Source=bdprcdpsql08.intracoomeva.com.co,49324\PRCDPSQL08;Initial Catalog=Csis;User=Csis;Password=azsx*963;" />-->
      <!--Migracion-->
      <connectionString value="Data Source=10.11.40.164\CORREDOR;Initial Catalog=csis_20170922;User=sa;Password=Corredor2016;" />
      
      <commandText value="INSERT INTO CSIS_LOG_RECONEXIONES ([Date],[Thread],[Level],[Logger],[Message],[Exception],[Usuario_Log],[Estado]) 
                   VALUES (@log_date, @thread, @log_level, @logger, @message, @exception, @usuarioLog, @estado)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value="@usuarioLog" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{usuarioLog}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@estado" />
        <dbType value="String" />
        <size value="10" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{estado}" />
        </layout>
      </parameter>
    </appender>
    

    <appender name="VigiaWS_Appender" type="log4net.Appender.AdoNetAppender">
      <useTransactions value = "false"/>
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <!--Produccion-->
      <!--<connectionString value="Data Source=bdcsis.intracoomeva.com.co,65147\cdpsql01;Initial Catalog=Csis;User=csis_web;Password=cs1s*ut1.6;" />-->
      <!--Aceptacion-->
      <!--<connectionString value="Data Source=bdprcdpsql08.intracoomeva.com.co,49324\PRCDPSQL08;Initial Catalog=Csis_Pru2;User=Csis;Password=azsx*963;" />-->
      <!--Desarrollo-->
      <!--<connectionString value="Data Source=bdprcdpsql08.intracoomeva.com.co,49324\PRCDPSQL08;Initial Catalog=Csis;User=Csis;Password=azsx*963;" />-->
      <!--Migracion-->
      <connectionString value="Data Source=10.11.40.164\CORREDOR;Initial Catalog=csis_20170922;User=sa;Password=Corredor2016;" />
      
      <commandText value="INSERT INTO CSIS_LOG_WCO ([Date],[Thread],[Level],[Logger],[Message],[Exception],[Tipo_Id],[Numero_Id],[Nombre],[Tipo_Cliente],[Listas_Incide],[Usuario_Log],[Estado]) 
                   VALUES (@log_date, @thread, @log_level, @logger, @message, @exception, @tipoId,@numeroId,@nombre,@tipoCliente,@listasIncide,@usuarioLog,@estado)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      
      <parameter>
        <parameterName value="@tipoId" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{tipoId}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@numeroId" />
        <dbType value="String" />
        <size value="200" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{numeroId}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@nombre" />
        <dbType value="String" />
        <size value="200" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{nombre}" />
        </layout>
      </parameter>
      <parameter>
      <parameterName value="@tipoCliente" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{tipoCliente}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@listasIncide" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{listasIncide}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@usuarioLog" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{usuarioLog}" />
      </layout>
    </parameter>
      <parameter>
        <parameterName value="@estado" />
        <dbType value="String" />
        <size value="10" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{estado}" />
        </layout>
      </parameter>
    </appender>
    
    <logger name ="QOS">
      <level value="debug" />
      <appender-ref ref="QoSRollingFile" />
    </logger>
    <logger name ="procMasivBackground">
      <level value="debug" />
      <appender-ref ref="ProcesoMasivoBackgroundSRollingFile" />
    </logger>
    <logger name ="LogProcesoMasivoAppender">
      <level value="INFO" />
      <appender-ref ref="LogProcesoMasivoAppender" />
    </logger>
    <logger name ="LogRenovacionAppender">
      <level value="INFO" />
      <appender-ref ref="LogRenovacionAppender" />
    </logger>
    <logger name="VigiaWS_Logger">
      <level value="ALL"/>
      <appender-ref ref="VigiaWS_Appender"/>
    </logger>
    <logger name ="Novedades">
      <level value="ERROR" />
      <appender-ref ref="FileAppender" />
    </logger>

    <logger name="Reconexion_Logger">
      <level value="ALL"/>
      <appender-ref ref="Reconexion_Appender"/>
    </logger>
    
    <logger name="printLog">
      <level value="INFO"/>
      <appender-ref ref="PrintAppender" />
    </logger>
    
    <logger name ="NHibernate">
      <level value="ERROR" />
    </logger>
    <logger name ="NHibernate.SQL">
      <level value="ERROR" />
    </logger>
    <root>
      <level value="debug" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
</configuration>