<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="Tranasction-02">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9082/" binding="customBinding"
                bindingConfiguration="Tranasction-02" contract="ConsultDepositPort"
                name="Transction-02_Srv" />
        </client>
    </system.serviceModel>
</configuration>